@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

*::-moz-selection {
  background: #71ad99;
  color: #fff;
}

*::selection {
  background: #71ad99;
  color: #fff;
}

* p, * ol {
  line-height: 1.5rem;
  font-size: .8rem;
  font-weight: 300;
}

* ol {
  margin-left: 1rem;
}

* h2 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  * p, * ol {
    font-size: 1rem;
  }
}

.hidden {
  visibility: hidden;
  height: 0;
}

.contenedor {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
}

.contenedorSmall {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.btn {
  padding: 1rem;
  border: 2px solid #71ad99;
  color: #71ad99;
  background: none;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.btn:hover {
  background: #71ad99;
  color: #fff;
}

.btn.full {
  background: #71ad99;
  color: #fff;
}

.btn.full:hover {
  background: #508875;
  border-color: #508875;
}

.whatsapp {
  background: #fff;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 15px rgba(54, 68, 62, 0.35);
          box-shadow: 0 0 15px rgba(54, 68, 62, 0.35);
  border-radius: 50%;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatsapp img {
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .whatsapp {
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
  }
}

.error404 .contenedorSmall {
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error404 .contenedorSmall h2 {
  color: #71ad99;
  margin-bottom: 2rem;
}

.error404 .contenedorSmall p {
  color: #2d312f;
  margin-bottom: 1rem;
}

.menuEscritorio {
  display: none;
}

@media screen and (min-width: 700px) {
  .menuEscritorio {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(54, 68, 62, 0.25);
            box-shadow: 0 0 15px rgba(54, 68, 62, 0.25);
    z-index: 1000;
  }
  .menuEscritorio .contenedor {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuEscritorio .contenedor img {
    height: 80%;
  }
  .menuEscritorio .contenedor .enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menuEscritorio .contenedor .enlaces a {
    text-decoration: none;
    color: #2d312f;
    opacity: .5;
    padding: 1rem 1.5rem;
    position: relative;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
  }
  .menuEscritorio .contenedor .enlaces a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 4px;
    width: 0;
    background: #71ad99;
    border-radius: 6px;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
  }
  .menuEscritorio .contenedor .enlaces a:hover {
    opacity: 1;
  }
  .menuEscritorio .contenedor .enlaces a.active {
    color: #71ad99;
    opacity: 1;
  }
  .menuEscritorio .contenedor .enlaces a.active::after {
    left: calc(50% - 20%);
    width: 40%;
  }
}

.barra {
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px rgba(54, 68, 62, 0.25);
          box-shadow: 0 0 15px rgba(54, 68, 62, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.barra .toggleBtn {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.barra .toggleBtn div {
  position: relative;
  height: 4px;
  border-radius: 3px;
  width: 60%;
  background-color: #71ad99;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.barra .toggleBtn div::after, .barra .toggleBtn div::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #71ad99;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.barra .toggleBtn div::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.barra .toggleBtn div::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.barra .toggleBtn.active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.barra .toggleBtn.active div {
  background: transparent;
}

.barra .toggleBtn.active div::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.barra .toggleBtn.active div::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.barra img {
  height: 80%;
}

.menuEnlaces {
  position: fixed;
  top: 80px;
  left: -80%;
  z-index: 900;
  width: 80%;
  height: calc(100vh - 80px);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  -webkit-box-shadow: 0 0 15px rgba(54, 68, 62, 0);
          box-shadow: 0 0 15px rgba(54, 68, 62, 0);
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menuEnlaces a {
  text-decoration: none;
  padding: .5rem 0;
  padding-left: 2rem;
  margin: .5rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: #2d312f;
  opacity: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
  position: relative;
}

.menuEnlaces a::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 0px;
  background: #71ad99;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menuEnlaces a:hover {
  opacity: 1;
}

.menuEnlaces a.active {
  color: #71ad99;
  opacity: 1;
}

.menuEnlaces a.active::after {
  width: 6px;
}

.menuEnlaces .decoracion {
  position: fixed;
  bottom: 0;
  left: -80%;
  width: 80%;
  height: 2.5rem;
  background: #71ad99;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menuEnlaces.active {
  left: 0;
  -webkit-box-shadow: 0 0 15px rgba(54, 68, 62, 0.25);
          box-shadow: 0 0 15px rgba(54, 68, 62, 0.25);
}

.menuEnlaces.active .decoracion {
  left: 0;
}

.backgroundMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 800;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.backgroundMenu.active {
  display: block;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show {
  0% {
    display: block;
  }
  2% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(122, 122, 122, 0.75);
  }
}

@keyframes show {
  0% {
    display: block;
  }
  2% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(122, 122, 122, 0.75);
  }
}

@media screen and (min-width: 700px) {
  .barra, .menuEnlaces {
    display: none;
  }
}

header {
  padding-top: calc(80px + 3rem);
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .slideshow {
  padding: 0 1rem;
  width: 100%;
  max-width: 1440px;
  height: 60vh;
  margin: auto;
  margin-bottom: 2rem;
  overflow: hidden;
}

header .slideshow .swiper-button-prev, header .slideshow .swiper-button-next {
  padding: 0 2rem;
}

header .slideshow .swiper-button-prev::after, header .slideshow .swiper-button-next::after {
  opacity: .6;
  color: #fff !important;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

header .slideshow .swiper-button-prev:hover::after, header .slideshow .swiper-button-next:hover::after {
  opacity: 1;
}

header .slideshow .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
}

header .slideshow .swiper-container {
  height: 100%;
}

header .slideshow .swiper-container .swiper-wrapper {
  height: 100%;
}

header .slideshow .swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
}

header .slideshow .swiper-container .swiper-wrapper .swiper-slide .imagen {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover !important;
  background-position: center !important;
}

header .contenedorSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contenedorSmall p {
  text-align: center;
  margin-bottom: 1rem;
  color: #8b9aa0;
}

@media screen and (min-width: 700px) {
  header {
    padding-top: calc(80px + 4rem);
    min-height: 100vh;
  }
}

.conocemeHome {
  margin-top: 1rem;
}

.conocemeHome .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  overflow: hidden;
}

.conocemeHome .contenedor .texto {
  width: 100%;
  background: #e5f3ec;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conocemeHome .contenedor .texto .caja {
  width: 100%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conocemeHome .contenedor .texto .caja h2 {
  color: #71ad99;
}

.conocemeHome .contenedor .texto .caja p {
  color: #8b9aa0;
}

.conocemeHome .contenedor .texto .caja h2, .conocemeHome .contenedor .texto .caja p {
  margin-bottom: 1rem;
}

.conocemeHome .contenedor img {
  width: 100%;
  border-top: 1rem solid #71ad99;
}

@media screen and (min-width: 700px) {
  .conocemeHome .contenedor .texto, .conocemeHome .contenedor img {
    width: 50%;
  }
  .conocemeHome .contenedor img {
    border-top: none;
    border-left: 1rem solid #71ad99;
  }
}

@media screen and (min-width: 1280px) {
  .conocemeHome .contenedor .texto {
    width: 70%;
    padding: 4rem;
  }
  .conocemeHome .contenedor img {
    width: 30%;
  }
}

@media screen and (min-width: 1441px) {
  .conocemeHome .contenedor {
    border-radius: 1rem;
  }
}

.servicios {
  background: #e5f3ec;
  padding-bottom: 4rem;
}

.servicios .titulo {
  width: 100%;
  background: #71ad99;
  padding: 2rem 0;
  margin: 4rem 0;
}

.servicios .titulo h2 {
  text-align: center;
  color: #fff;
}

.servicios .contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.servicios .contenedor .servicio {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(54, 68, 62, 0.12);
          box-shadow: 0 0 15px rgba(54, 68, 62, 0.12);
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.servicios .contenedor .servicio img {
  width: 100%;
  border-bottom: 6px solid #71ad99;
}

.servicios .contenedor .servicio h3, .servicios .contenedor .servicio p {
  padding: 0 2rem;
}

.servicios .contenedor .servicio h3 {
  margin: 1rem 0;
  color: #71ad99;
}

.servicios .contenedor .servicio p {
  margin-bottom: 2rem;
  color: #8b9aa0;
}

@media screen and (min-width: 768px) {
  .servicios .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .servicios .contenedor {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.conoceme {
  width: 100%;
  padding-top: 80px;
}

.conoceme .header {
  height: 40vh;
  width: 100%;
  background-size: cover !important;
  background-position: center 80% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 6px solid #71ad99;
}

.conoceme .header h2 {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
  opacity: 0.6 !important;
}

.conoceme .info {
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#fff));
  background: linear-gradient(to top, #f2f2f2, #fff);
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.conoceme .info .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conoceme .info .contenedor .texto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conoceme .info .contenedor .texto h3 {
  text-align: center;
  color: #71ad99;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.conoceme .info .contenedor .texto p {
  margin-bottom: 1rem;
  color: #2d312f;
  text-align: justify;
}

.conoceme .info .contenedor img {
  margin-top: 2rem;
  width: 75%;
  border-radius: 1rem;
}

@media screen and (min-width: 600px) {
  .conoceme .header h2 {
    font-size: 4rem;
  }
  .conoceme .info .contenedor .texto h3 {
    font-size: 2rem;
  }
  .conoceme .info .contenedor img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .conoceme .header {
    height: 30vh;
  }
  .conoceme .header h2 {
    font-size: 5rem;
  }
  .conoceme .info .contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .conoceme .info .contenedor .texto {
    width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .conoceme .info .contenedor .texto h3 {
    text-align: left;
  }
  .conoceme .info .contenedor img {
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .conoceme .header {
    height: 60vh;
  }
  .conoceme .header h2 {
    font-size: 5rem;
  }
  .conoceme .info .contenedor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .conoceme .info .contenedor .texto {
    width: 50%;
  }
  .conoceme .info .contenedor .texto h3 {
    text-align: left;
  }
  .conoceme .info .contenedor img {
    width: 45%;
  }
}

.galeriaProyectos {
  width: 100%;
  padding-top: calc(80px + 3rem);
}

.galeriaProyectos h2 {
  color: #71ad99;
  margin-bottom: 3rem;
  text-align: center;
}

.galeriaProyectos .contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.galeriaProyectos .contenedor .proyectoCover {
  background: #e5f3ec;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.galeriaProyectos .contenedor .proyectoCover:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background: #71ad99;
}

.galeriaProyectos .contenedor .proyectoCover:hover h3 {
  color: #fff;
}

.galeriaProyectos .contenedor .proyectoCover:hover img {
  opacity: .6;
}

.galeriaProyectos .contenedor .proyectoCover img {
  width: 100%;
  border-bottom: 6px solid #71ad99;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.galeriaProyectos .contenedor .proyectoCover h3 {
  color: #2d312f;
  text-align: center;
  padding: 1rem;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

@media screen and (min-width: 500px) {
  .galeriaProyectos .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .galeriaProyectos .contenedor {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.proyectoInfo {
  padding-top: calc(80px + 3rem);
}

.proyectoInfo h2 {
  color: #71ad99;
  text-align: center;
  margin-bottom: 2rem;
}

.proyectoInfo .contenedor .texto {
  text-align: justify;
  margin-bottom: 2rem;
}

.proyectoInfo .contenedor .texto p, .proyectoInfo .contenedor .texto ol {
  margin-bottom: 1rem;
}

.proyectoInfo .contenedor .galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.proyectoInfo .contenedor .galeria img {
  width: 100%;
  border-radius: 1rem;
}

.proyectoInfo .contenedor .botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .proyectoInfo .contenedor .galeria {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  padding-top: 4rem;
}

footer h2 {
  color: #71ad99;
  text-align: center;
  margin-bottom: 2rem;
}

footer form {
  width: 100%;
}

footer form .contenedorSmall {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

footer form .contenedorSmall .campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

footer form .contenedorSmall .campo label {
  color: #8b9aa0;
  font-size: .8rem;
  margin-bottom: 0.5rem;
}

footer form .contenedorSmall .campo input, footer form .contenedorSmall .campo textarea {
  padding: .5rem;
  border: 2px solid #cfd7db;
  color: #2d312f;
  font-size: 1rem;
  border-radius: .5rem;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

footer form .contenedorSmall .campo input:hover, footer form .contenedorSmall .campo textarea:hover {
  border-color: #8b9aa0;
}

footer form .contenedorSmall .campo input:focus, footer form .contenedorSmall .campo textarea:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(113, 173, 153, 0.3);
          box-shadow: 0 0 0 3px rgba(113, 173, 153, 0.3);
  border-color: #71ad99;
  color: #71ad99;
}

footer form .contenedorSmall .campo textarea {
  resize: none;
}

footer form .contenedor p {
  color: crimson;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

footer form .botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

footer .base {
  background: #71ad99;
  padding: 1rem 0;
}

footer .base p {
  text-align: center;
  color: #fff;
}

footer .base .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

footer .base .redes a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 .5rem;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

footer .base .redes a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 500px) {
  footer form .contenedorSmall {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
/*# sourceMappingURL=globals.css.map */