@import 'variables';

.menuEscritorio{
    display: none;
}

@media screen and (min-width: 700px){
    .menuEscritorio{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100px;
        background: $verde-oscuro;
        box-shadow: 0 0 15px rgba(30, 54, 44, 0.5);
        z-index: 1000;
        .contenedor{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                height: 80%;
            }
            .enlaces{
                display: flex;
                a{
                    text-decoration: none;
                    color: $blanco;
                    opacity: .5;
                    padding: 1rem 1.5rem;
                    position: relative;
                    transition: ease-in-out .15s;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        height: 4px;
                        width: 0;
                        background: $naranja;
                        border-radius: 6px;
                        transition: ease-in-out .15s;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
                a.active{
                    color: $blanco;
                    opacity: 1;
                    &::after{
                        left: calc(50% - 20%);
                        width: 40%;
                    }
                }
            }
        }
    }
}