//Colores
$blanco: #fff;
$gris-claro: #cfd7db;
$gris: #8b9aa0;
$verde: #71ad99;
$verde-oscuro: #508875;
$verde-claro: #e5f3ec;
$naranja: #eca482;
$naranja-oscuro: #e09470;
$naranja-claro: #f1e5e0;
$negro: #2d312f;

//Tipografía
$light: 300;
$regular: 400;
$bold: 600;
$cursive: 'Parisienne', cursive;