//Colores
$blanco: #fff;
$gris-claro: #bac0c0;
$gris: #606362;
$verde: #4b8d84;
$verde-oscuro: #397870;
$verde-claro: #e7eded;
$naranja: #d7835c;
$naranja-oscuro: #d7835c;
$naranja-claro: #f1e5e0;
$negro: #161717;

//Tipografía
$light: 300;
$regular: 400;
$bold: 600;
$cursive: 'Parisienne', cursive;
